### 1. Importing the required libraries

In [40]:
import pandas as pd
import numpy as np
import sweetviz as sv

### 2. Data Ingestion

In [41]:
simd2020=pd.read_csv('../data/SIMD_2020_Data.csv')

### 3. Investigating multiple columns that seem to quantify the SIMD

##### There are 12 columns that have numerical values pertaining to the SIMD. Since there is no sufficient information to make sense of these variables we choose not to use them.

In [42]:
Indices=simd2020.copy()
Indices=Indices.iloc[:,7:19]
Indices
#SIMD1-5, SIMD1 least deprived, SIMD5 most deprived

,simd2020v2,simd_2020v,simd2020_1,simd2020_2,simd2020_3,simd2020_4,simd2020_e,simd2020_h,simd2020_5,simd2020_a,simd2020_c,simd2020_6
0,90.0,2.0,1.0,1.0,1.0,167.0,48.0,299.0,102.0,4235.0,867.0,943.0
1,462.0,7.0,2.0,1.0,1.0,223.0,681.0,650.0,719.0,4096.0,1144.0,1008.0
2,173.0,3.0,1.0,1.0,1.0,85.0,251.0,228.0,276.0,4669.0,1478.0,1212.0
3,164.0,3.0,1.0,1.0,1.0,216.0,133.0,174.0,292.0,3904.0,986.0,1112.0
4,278.0,4.0,1.0,1.0,1.0,334.0,378.0,324.0,213.0,3625.0,838.0,1843.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 4. Removing the simd numerical columns

In [43]:
def substring_based_columnRemoval(df,substr):
    return df.loc[:, df.columns.isin([x for x in list(df.columns) if substr not in x])]

In [44]:
simd_filtered=simd2020.copy()
simd_filtered=substring_based_columnRemoval(simd_filtered,'simd')
simd_filtered

,id,geom,datazone,intermedia,council_ar,total_popu,working_ag,income_rat,income_cou,employment,...,drive_petr,drive_gp,drive_post,drive_prim,drive_reta,drive_seco,pt_gp,pt_post,pt_retail,broadband
0,2207,0106000020E61000000100000001030000000100000061...,S01008712,"Bingham, Magdalene and The Christians",City of Edinburgh,1124.0,615.0,0.36,405.0,0.32,...,3.848445,1.804226,2.864838,3.856566,4.683930,4.300235,4.086367,7.022797,9.600905512,0.00
1,2198,0106000020E61000000100000001030000000100000032...,S01008703,Craigmillar,City of Edinburgh,1128.0,738.0,0.34,386.0,0.20,...,4.716391,3.012070,5.068158,2.657618,2.265327,4.882096,5.706106,8.562497,5.172350823,0.00
2,2202,0106000020E610000001000000010300000001000000A9...,S01008707,Niddrie,City of Edinburgh,953.0,616.0,0.40,379.0,0.25,...,5.908976,2.370157,2.089455,3.284226,3.397390,3.429833,6.155957,6.755342,7.094846288,0.00
3,2203,0106000020E6100000010000000103000000010000008F...,S01008708,Niddrie,City of Edinburgh,1043.0,649.0,0.34,359.0,0.28,...,6.281557,2.589499,2.563769,3.363543,3.596589,3.324262,5.535684,6.211121,6.542594289,0.02
4,6801,0106000020E6100000010000000103000000010000004A...,S01013306,Craigshill,West Lothian,1044.0,738.0,0.31,326.0,0.23,...,3.240983,2.215408,3.116243,2.509684,2.345567,5.364662,9.955902,12.170924,13.64662728,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,6745,0106000020E61000000300000001030000000100000049...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,45C6D21133E44B40364DD1FBF6F00DC0C2FACC9A35E44B...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,6784,0106000020E6100000010000000103000000010000000B...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
simd_filtered.columns

Index(['id', 'geom', 'datazone', 'intermedia', 'council_ar', 'total_popu',
       'working_ag', 'income_rat', 'income_cou', 'employment', 'employme_1',
       'cif', 'alcohol', 'drug', 'smr', 'depress', 'lbwt', 'emerg',
       'attendance', 'attainment', 'no_qualifi', 'not_partic', 'university',
       'crime_coun', 'crime_rate', 'overcrowde', 'nocentralh', 'overcrow_1',
       'nocentra_1', 'drive_petr', 'drive_gp', 'drive_post', 'drive_prim',
       'drive_reta', 'drive_seco', 'pt_gp', 'pt_post', 'pt_retail',
       'broadband'],
      dtype='object')

### 5. Utilizing sweetviz tool to get a snapshot of the dataset

In [46]:
# import sweetviz as sv
# my_report = sv.analyze(simd_filtered)
# my_report.show_html()

### 6. Checking percentage of missing data for each row

In [47]:
def clean_sparse_data(df,threshold):
    if not isinstance(df, pd.DataFrame):
        print("Invalid argument. Please provide a pandas dataframe.")
        return
    
    return df[df.apply(lambda x: (x.isnull().sum()/len(df.columns))*100 <= threshold, axis=1)]

In [48]:
simd_result=clean_sparse_data(simd_filtered,80)
simd_result.head()

,id,geom,datazone,intermedia,council_ar,total_popu,working_ag,income_rat,income_cou,employment,...,drive_petr,drive_gp,drive_post,drive_prim,drive_reta,drive_seco,pt_gp,pt_post,pt_retail,broadband
0,2207,0106000020E61000000100000001030000000100000061...,S01008712,"Bingham, Magdalene and The Christians",City of Edinburgh,1124.0,615.0,0.36,405.0,0.32,...,3.848445,1.804226,2.864838,3.856566,4.683930,4.300235,4.086367,7.022797,9.600905512,0.00
1,2198,0106000020E61000000100000001030000000100000032...,S01008703,Craigmillar,City of Edinburgh,1128.0,738.0,0.34,386.0,0.20,...,4.716391,3.012070,5.068158,2.657618,2.265327,4.882096,5.706106,8.562497,5.172350823,0.00
2,2202,0106000020E610000001000000010300000001000000A9...,S01008707,Niddrie,City of Edinburgh,953.0,616.0,0.40,379.0,0.25,...,5.908976,2.370157,2.089455,3.284226,3.397390,3.429833,6.155957,6.755342,7.094846288,0.00
3,2203,0106000020E6100000010000000103000000010000008F...,S01008708,Niddrie,City of Edinburgh,1043.0,649.0,0.34,359.0,0.28,...,6.281557,2.589499,2.563769,3.363543,3.596589,3.324262,5.535684,6.211121,6.542594289,0.02
4,6801,0106000020E6100000010000000103000000010000004A...,S01013306,Craigshill,West Lothian,1044.0,738.0,0.31,326.0,0.23,...,3.240983,2.215408,3.116243,2.509684,2.345567,5.364662,9.955902,12.170924,13.64662728,0.00

#### 7. Using Combined SIMD Dataset( 2016 + 2020 )

In [49]:
combined_simd=pd.read_csv('../data/combined_dataset.csv')

####  7.1 Verify datatypes of each variable

In [50]:
combined_simd.dtypes

Data_Zone                          object
Intermediate_Zone                  object
Council_area                       object
Total_population                  float64
Working_age_population_revised    float64
Income_rate                       float64
Income_count                      float64
Employment_rate                   float64
Employment_count                  float64
CIF                                object
ALCOHOL                           float64
DRUG                              float64
SMR                               float64
DEPRESS                            object
LBWT                               object
EMERG                             float64
Attendance                         object
Attainment                         object
Noquals                           float64
NEET                              float64
HESA                               object
drive_petrol                      float64
drive_GP                          float64
drive_PO                          float64
drive_primary                     float64
drive_retail                      float64
drive_secondary                   float64
PT_GP                             float64
PT_Post                           float64
PT_retail                         float64
crime_count                        object
crime_rate                         object
overcrowded_count                 float64
nocentralheat_count               float64
overcrowded_rate                  float64
nocentralheat_rate                float64
year                                int64
dtype: object

#### 7.2 Remove sparse data (if missing data > 80% for a row it is removed)

In [51]:
combined_simd_result=clean_sparse_data(combined_simd,80)
combined_simd_result.head()

,Data_Zone,Intermediate_Zone,Council_area,Total_population,Working_age_population_revised,Income_rate,Income_count,Employment_rate,Employment_count,CIF,...,PT_GP,PT_Post,PT_retail,crime_count,crime_rate,overcrowded_count,nocentralheat_count,overcrowded_rate,nocentralheat_rate,year
0,S01006506,Culter,Aberdeen City,904.0,605.0,0.07,60.0,0.07,40.0,60,...,8.437832,5.987087,5.711433,8.00642939150402,88.5666968086728,87.0,10.0,0.102113,0.011737,2016
1,S01006507,Culter,Aberdeen City,830.0,491.0,0.07,60.0,0.05,25.0,40,...,8.331833,7.262817,6.794300,4.00321469575201,48.2315023584579,85.0,4.0,0.101675,0.004785,2016
2,S01006508,Culter,Aberdeen City,694.0,519.0,0.05,30.0,0.03,15.0,45,...,7.853631,5.827924,5.251454,4.00321469575201,57.6832088725073,31.0,8.0,0.048212,0.012442,2016
3,S01006509,Culter,Aberdeen City,573.0,354.0,0.05,30.0,0.06,20.0,65,...,7.434491,8.311862,8.444698,*,*,42.0,6.0,0.072414,0.010345,2016
4,S01006510,Culter,Aberdeen City,676.0,414.0,0.10,70.0,0.07,30.0,75,...,5.141013,6.627376,6.619130,12.009644087256,177.657456912071,50.0,7.0,0.086655,0.012132,2016

In [52]:
combined_simd.shape

(8055, 37)

In [53]:
combined_simd_result.shape

(8042, 37)

#### 7.3 Considering rows with no missing value for Datazone

In [54]:
combined_simd_result=combined_simd_result[combined_simd_result['Data_Zone'].notna()]
combined_simd_result.shape

(8042, 37)

In [55]:
combined_simd_result.head()

,Data_Zone,Intermediate_Zone,Council_area,Total_population,Working_age_population_revised,Income_rate,Income_count,Employment_rate,Employment_count,CIF,...,PT_GP,PT_Post,PT_retail,crime_count,crime_rate,overcrowded_count,nocentralheat_count,overcrowded_rate,nocentralheat_rate,year
0,S01006506,Culter,Aberdeen City,904.0,605.0,0.07,60.0,0.07,40.0,60,...,8.437832,5.987087,5.711433,8.00642939150402,88.5666968086728,87.0,10.0,0.102113,0.011737,2016
1,S01006507,Culter,Aberdeen City,830.0,491.0,0.07,60.0,0.05,25.0,40,...,8.331833,7.262817,6.794300,4.00321469575201,48.2315023584579,85.0,4.0,0.101675,0.004785,2016
2,S01006508,Culter,Aberdeen City,694.0,519.0,0.05,30.0,0.03,15.0,45,...,7.853631,5.827924,5.251454,4.00321469575201,57.6832088725073,31.0,8.0,0.048212,0.012442,2016
3,S01006509,Culter,Aberdeen City,573.0,354.0,0.05,30.0,0.06,20.0,65,...,7.434491,8.311862,8.444698,*,*,42.0,6.0,0.072414,0.010345,2016
4,S01006510,Culter,Aberdeen City,676.0,414.0,0.10,70.0,0.07,30.0,75,...,5.141013,6.627376,6.619130,12.009644087256,177.657456912071,50.0,7.0,0.086655,0.012132,2016

In [56]:
combined_simd_result.to_csv('../data/cleaned_combined_simd_result.csv')

#### 7.4 Check numeric columns

In [57]:
numeric_columns = combined_simd_result.select_dtypes(include=['int', 'float']).columns.tolist()
numeric_columns

['Total_population',
 'Working_age_population_revised',
 'Income_rate',
 'Income_count',
 'Employment_rate',
 'Employment_count',
 'ALCOHOL',
 'DRUG',
 'SMR',
 'EMERG',
 'Noquals',
 'NEET',
 'drive_petrol',
 'drive_GP',
 'drive_PO',
 'drive_primary',
 'drive_retail',
 'drive_secondary',
 'PT_GP',
 'PT_Post',
 'PT_retail',
 'overcrowded_count',
 'nocentralheat_count',
 'overcrowded_rate',
 'nocentralheat_rate',
 'year']

In [58]:
with open('../data/numeric_columns.txt','w') as f:
    for text in numeric_columns:
        f.write("%s\n" % text)